<gi-app-base
  [title]="tituloTela"
  [actions]="toolbarActions"
  [goBackFn]="goBackFn.bind(this)"
>
  <div body-content>
    <div class="form" [formGroup]="form">
      <div class="titulos w-100">
        <div class="title" i18>Títulos</div>
        <gi-table-component
          [data]="selectedTitulos"
          [columns]="tituloColumns"
          [actions]="tituloActions"
          [sortable]="false"
          class="w-100"
        ></gi-table-component>
        @if (isControlInvalid('titulos')) {
        <small class="p-error" i18n>Pelo menos um título é obrigatório.</small>
        }
      </div>

      <p-iftalabel class="w-33">
        <p-select
          inputId="contaBancaria"
          formControlName="contaBancaria"
          [options]="contasOptions"
          optionLabel="nome"
          optionValue="id"
          [filter]="true"
          filterBy="label"
        >
          <ng-template let-item pTemplate="item">
            <div>{{ item.nome }}</div>
          </ng-template>
        </p-select>
        <label for="contaBancaria" i18n>Conta Bancária</label>
        @if (isControlInvalid('contaBancaria')) {
        <small i18n>Esse campo é obrigatório.</small>
        }
      </p-iftalabel>

      <p-iftalabel class="w-33">
        <p-select
          inputId="tipo"
          formControlName="tipo"
          [options]="tiposOptions"
          optionLabel="label"
          optionValue="value"
        ></p-select>
        <label for="tipo" i18n>Tipo</label>
        @if (isControlInvalid('tipo')) {
        <small i18n>Esse campo não pode ser em branco.</small>
        }
      </p-iftalabel>

      <p-iftalabel class="w-33">
        <p-select
          inputId="formaPagamento"
          formControlName="formaPagamento"
          [options]="formaOptions"
          optionLabel="label"
          optionValue="value"
        ></p-select>
        <label for="formaPagamento" i18n>Forma de Pagamento</label>
        @if (isControlInvalid('formaPagamento')) {
        <small i18n>Esse campo é obrigatório.</small>
        }
      </p-iftalabel>

      <p-iftalabel class="w-33">
        <p-inputNumber
          inputId="valor"
          formControlName="valor"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
        ></p-inputNumber>
        <label for="valor" i18n>Valor</label>
        @if (isControlInvalid('valor')) {
        <small i18n>Esse campo não pode ser em branco.</small>
        }
      </p-iftalabel>

      <p-iftalabel class="w-33">
        <p-datepicker
          inputId="data"
          formControlName="data"
          dateFormat="dd/mm/yy"
        >
        </p-datepicker>
        <label for="data" i18n>Data</label>
        @if (isControlInvalid('data')) {
        <small i18n>Esse campo não pode ser em branco.</small>
        }
      </p-iftalabel>

      <p-iftalabel class="w-33">
        <p-select
          inputId="unidadeNegocio"
          [options]="allUnidadesNegocio"
          formControlName="unidadeNegocio"
          optionLabel="unidadeNegocioCodigo"
          optionValue="unidadeNegocioId"
          [filter]="true"
          filterBy="unidadeNegocioCodigo,unidadeNegocioNome"
          [showClear]="false"
          (onChange)="changeUnidadeNegocio()"
        >
          <ng-template let-item pTemplate="item">
            <div>
              {{ item.unidadeNegocioCodigo }} - {{ item.unidadeNegocioNome }}
            </div>
          </ng-template>
        </p-select>
        <label for="unidadeNegocio" i18n>Unidade de Negócio</label>
        @if (isControlInvalid('unidadeNegocio')) {
        <small i18n>Esse campo é obrigatório.</small>
        }
      </p-iftalabel>

      <p-iftalabel class="w-100">
        <textarea
          pInputTextarea
          id="observacoes"
          formControlName="observacoes"
          rows="4"
        ></textarea>
        <label for="observacoes" i18n>Observações</label>
      </p-iftalabel>
    </div>
  </div>
</gi-app-base>
