<gi-app-base
  [title]="title"
  [actions]="toolbarActions"
  [goBackFn]="goBackFn.bind(this)"
>
  <div body-content>
    <div class="form" [formGroup]="form">
      <p-iftalabel class="w-25">
        <input pInputText id="codigo" formControlName="codigo" />
        <label for="codigo" i18n>Código</label>
        @if (isControlInvalid('codigo')) {
        <small i18n>Esse campo não pode ser em branco.</small>
        }
      </p-iftalabel>

      <p-iftalabel class="w-50">
        <input pInputText id="nomeCategoria" formControlName="nome" />
        <label for="nomeCategoria" i18n>Nome</label>
        @if (isControlInvalid('nome')) {
        <small i18n>Esse campo não pode ser em branco.</small>
        }
      </p-iftalabel>

      <p-iftalabel class="w-25">
        <p-select
          inputId="tipo"
          [options]="tiposCategoria"
          formControlName="tipo"
        >
          <ng-template let-item pTemplate="item">
            <div>{{ item.label }}</div>
          </ng-template>
        </p-select>
        <label for="tipo" i18n>Tipo</label>
      </p-iftalabel>

      <p-iftalabel class="w-50">
        <p-select
          inputId="agrupador"
          [options]="agrupadores"
          optionLabel="nome"
          optionValue="id"
          formControlName="agrupadorId"
          [showClear]="true"
          placeholder="Selecione um agrupador (opcional)"
        >
          <ng-template let-item pTemplate="item">
            <div>{{ item.codigo }} - {{ item.nome }}</div>
          </ng-template>
        </p-select>
        <label for="agrupador" i18n>Agrupador</label>
      </p-iftalabel>

      <p-iftalabel class="w-100">
        <textarea
          pTextarea
          id="descricao"
          formControlName="descricao"
          rows="4"
        ></textarea>
        <label for="descricao" i18n>Descrição</label>
      </p-iftalabel>

      <div class="checkbox-field w-100">
        <p-checkbox formControlName="padrao" [binary]="true" inputId="padrao" />
        <label for="padrao" i18n>Categoria padrão para atendimento</label>
      </div>
    </div>
  </div>

  <div footer-content></div>
</gi-app-base>
