.paginator {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;

    .buttons {
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;
        flex-grow: 3;

        .info {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .page-size-selector {
        display: flex;
        justify-items: center;
        justify-content: center;
        align-items: center;

        span {
            white-space: nowrap;
            margin-right: 20px;            
        }

        mat-select {
            color: var(--text-color);
            width: 80px;
            text-align: center;
        }
    }
}