<gi-app-base
  [title]="titulo"
  [actions]="toolbarActions"
  [goBackFn]="goBackFn.bind(this)"
>
  <div body-content>
    <div class="categoria-detalhe" [formGroup]="form">
      <gi-input-component formControlName="nome" label="Nome" required>
      </gi-input-component>
      @if (isControlInvalid('nome')) {
      <small i18n>Esse campo não pode ser em branco.</small>
      }

      <gi-textarea-component
        formControlName="descricao"
        label="Descrição"
      ></gi-textarea-component>
    </div>
  </div>

  <div footer-content></div>
</gi-app-base>
