.entity-field {
  box-sizing: border-box;
  border-style: solid;
  border-width: thin;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  font-size: var(--text-size);
  width: 100%;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

    .field-label {
      font-size: smaller;
      margin: 0rem 0rem 0.4rem 0.4rem;
      font-weight: 400;
      color: var(--input-label-color);
      font-family: var(--input-label-font-family);
    }

    .entity-selected {
      font-size: var(--text-size);
      margin-left: 0.4rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .buttons {
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 46px;

    .buttons-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background-color: var(--secondary-color);
      color: var(--inverted-text-color);
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
      padding: 0rem 0.3rem;
      border: 1px solid var(--p-datepicker-dropdown-border-color);
      border-left: none;

      i {
        display: flex;
        justify-content: center;
        align-items: center;

        .material-symbols-outlined {
          font-size: 24px !important;
        }
      }
    }
  }
}

/* Estiliza o autocomplete para se integrar ao entity-field */
:host ::ng-deep p-autocomplete {
  display: block;
  width: 100%;
}

:host ::ng-deep p-autocomplete input {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  padding: 0 0.4rem !important;
  height: 26px !important;
  font-size: var(--text-size) !important;
  background: transparent !important;
  width: 100% !important;
}
