<div class="filtro-component">
  <span class="titulo" i18n>Filtros</span>
  <div class="seletor" [formGroup]="formSelector">
    <div class="formulario-grupo-input w-25">
      <label for="property" i18n>Adicionar filtro</label>
      <p-select
        class="w-100"
        [options]="filters"
        (onChange)="addFilter($event.value)"
        id="property"
        formControlName="property"
        placeholder="Selecione um campo"
        i18n-placeholder
      />
    </div>
    <div class="formulario-grupo-input w-15" *ngIf="selectedFilters.length > 1">
      <label for="filterLogicOperator" i18n>Operador Lógico</label>
      <p-select
        class="w-100"
        [options]="logicOperators"
        formControlName="filterLogicOperator"
        id="filterLogicOperator"
      />
    </div>
  </div>
  <div [formGroup]="form" class="filtros">
    <div *ngFor="let filter of selectedFilters" class="item">
      <div class="label">
        <span class="nome">{{ filter.label }}:</span>
        <div class="valores">
          <p-select
            [formControlName]="filter.property + '_operacao'"
            [options]="getOperacoes(filter.filterType)"
          />
          <input
            *ngIf="filter.filterType === FilterType.TEXTO"
            pInputText
            [id]="filter.property + '_id'"
            [formControlName]="filter.property"
            autocomplete="off"
          />
          <p-datepicker
            class="w-full"
            [style]="{ width: '100%' }"
            *ngIf="filter.filterType === FilterType.DATA"
            [formControlName]="filter.property"
          />
        </div>
        <p-button (click)="removerFiltro(filter)">
          <span class="material-icons">close</span>
        </p-button>
      </div>
    </div>
  </div>
  <div class="acoes">
    <button pButton class="secundario" (click)="onCancelar()">
      <span class="material-icons">close</span>
      <span pButtonLabel i18n>Cancelar</span>
    </button>
    <button pButton class="primario" (click)="onFiltrar()">
      <span class="material-icons">search</span>
      <span pButtonLabel i18n>Filtrar</span>
    </button>
  </div>
</div>
