<gi-app-base [title]="titulo" [actions]="acoesTela" [goBackFn]="goBackFn.bind(this)">
  <div body-content>
    <div class="detail-columns">
      <div class="left-column">
        <div class="form" [formGroup]="form">
          <p-iftalabel class="w-100">
            <input pInputText id="nomeUsuario" formControlName="nome" />
            <label for="nomeUsuario" i18n>Nome</label>
            <small *ngIf="isControlInvalid('nome')" i18n>Esse campo não pode ser em branco.</small>
          </p-iftalabel>
          <p-iftalabel class="w-100">
            <input pInputText id="loginUsuario" formControlName="login" />
            <label for="loginUsuario" i18n>Login</label>
            <small *ngIf="isControlInvalid('login')" i18n>Esse campo não pode ser em branco.</small>
          </p-iftalabel>
          <p-iftalabel class="w-100">
            <input pInputText id="senhaUsuario" formControlName="senha" type="password" />
            <label for="senhaUsuario" i18n>Senha</label>
          </p-iftalabel>
        </div>
      </div>

      <div class="right-column">
        <div class="perfis-column">
          <label for="perfilAutoComplete" class="perfis-label" i18n>Perfis Vinculados</label>

          <p-autoComplete
            inputId="perfilAutoComplete"
            [suggestions]="suggestions"
            (completeMethod)="searchPerfis($event)"
            optionLabel="nome"
            (onSelect)="onPerfilSelect($event.value)"
            [(ngModel)]="perfilInput"
            [forceSelection]="true"
            [minLength]="1"
            placeholder="Buscar perfil"
            [style]="{ 'width': '100%' }">
            <ng-template let-item pTemplate="item">
              <div>{{ item.nome }}</div>
            </ng-template>
          </p-autoComplete>

          <ul class="perfis-list mt-3">
            <li *ngFor="let p of selectedPerfis">
              <span>{{ p.nome }}</span>
              <button type="button" class="btn-remove" (click)="removerPerfil(p)">-</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</gi-app-base>
