<gi-app-base
  [title]="titulo"
  [actions]="toolbarActions"
  [goBackFn]="goBackFn.bind(this)"
>
  <div body-content>
    <div class="form" [formGroup]="form">
      <p-iftalabel class="w-25">
        <p-select
          id="tipo"
          formControlName="tipo"
          [options]="tiposList"
          optionLabel="label"
          optionValue="value"
          (onChange)="onTipoChange()"
        ></p-select>
        <label for="tipo" i18n>Tipo</label>
        @if (isControlInvalid('tipo')) {
        <small i18n>Esse campo é obrigatório.</small>
        }
      </p-iftalabel>

      <div class="checkbox-container w-65">
        <p-checkbox
          [binary]="true"
          inputId="ativo"
          formControlName="ativo"
        ></p-checkbox>
        <label for="ativo" i18n>Ativo</label>
      </div>

      <p-iftalabel class="w-33">
        <input pInputText id="codigo" formControlName="codigo" />
        <label for="codigo" i18n>Código</label>
        @if (isControlInvalid('codigo')) {
        <small i18n>Esse campo não pode ser em branco.</small>
        }
      </p-iftalabel>
      <p-iftalabel class="w-33">
        <input pInputText id="descricao" formControlName="descricao" />
        <label for="descricao" i18n>Descrição</label>
        @if (isControlInvalid('descricao')) {
        <small i18n>Esse campo não pode ser em branco.</small>
        }
      </p-iftalabel>

      <p-iftalabel class="w-33">
        <p-select
          inputId="unidadeNegocio"
          [options]="allUnidadesNegocio"
          formControlName="unidadeNegocio"
          optionLabel="codigo"
          optionValue="id"
          [filter]="true"
          filterBy="codigo,nome"
          [showClear]="false"
        >
          <ng-template let-item pTemplate="item">
            <div>{{ item.codigo }} - {{ item.nome }}</div>
          </ng-template>
        </p-select>
        <label for="unidadeNegocio" i18n>Unidade de Negócio</label>
      </p-iftalabel>
    </div>

    <div class="form">
      <p-iftalabel class="w-100">
        <p-iconfield>
          <p-inputicon class="pi pi-search" />
          <p-autoComplete
            inputId="planoPai"
            [(ngModel)]="selectedPlanoPai"
            [suggestions]="planosPaiSuggestions"
            (completeMethod)="searchPlanoPai($event)"
            optionLabel="displayLabel"
            [placeholder]="
              form.get('tipo')?.value
                ? 'Digite para buscar...'
                : 'Selecione o tipo primeiro'
            "
          />
        </p-iconfield>
        <label for="planoPai" i18n>Plano Pai</label>
      </p-iftalabel>
    </div>

    <div class="form">
      @if (entity.id) {
      <p-iftalabel class="w-50">
        <input
          pInputText
          [value]="entity.analitico ? 'Sim' : 'Não'"
          [disabled]="true"
          id="idInput"
        />
        <label for="idInput" i18n>Analítico</label>
      </p-iftalabel>
      @if (entity.nivel !== undefined) {
      <p-iftalabel class="w-50">
        <input
          pInputText
          [value]="entity.nivel"
          [disabled]="true"
          id="nivelInput"
        />
        <label for="nivelInput" i18n>Nível</label>
      </p-iftalabel>
      } }
    </div>
  </div>
</gi-app-base>
