.header {
  margin-right: 5px;
}

.selection-col {
  width: 2.5rem;
  text-align: center;
  padding: 0 8px !important;
}

.table-icon {
  color: var(--text-color);
}

.table-icon:hover {
  color: var(--inverted-text-color);
}

.actions {
  flex-grow: 1;
  flex-shrink: 1;
}

.deleted-row {
  background-color: rgba(255, 0, 0, 0.1) !important;
  opacity: 0.6;
  text-decoration: line-through;
}

.td-content {
  display: flex;
  align-items: center;
  min-height: 2.4rem;
}

