<gi-app-base [title]="titulo" [actions]="toolbarActions">
  <div body-content>
    @if (!hideFilters) {
    <gi-filter-component
      [filters]="filtros"
      (filterEvent)="filter($event)"
      (cancelEvent)="closeFilter()"
    ></gi-filter-component>
    }
    <gi-table-component
      [columns]="columns"
      [data]="titulosList"
      [actions]="tableActions"
      (sortingEvent)="sort($event)"
    ></gi-table-component>
  </div>
  <div footer-content>
    <gi-pagination-component
      [totalElements]="totalElements"
      [itemsPerPage]="itensPorPagina"
      (paginationEvent)="paginate($event)"
    ></gi-pagination-component>
  </div>
</gi-app-base>
