<gi-app-base
  [title]="tituloTela"
  [actions]="acoesTela"
  [goBackFn]="goBackFn.bind(this)"
>
  <div body-content>
    <div class="form" [formGroup]="form">
      <p-iftalabel class="w-33">
        <p-select
          inputId="tipo"
          formControlName="tipo"
          [options]="tiposOptions"
          optionLabel="label"
          optionValue="value"
        ></p-select>
        <label for="tipo" i18n>Tipo</label>
        @if (isControlInvalid('tipo')) {
        <small i18n>Esse campo não pode ser em branco.</small>
        }
      </p-iftalabel>

      <p-iftalabel class="w-33">
        <p-select
          inputId="status"
          formControlName="status"
          [options]="statusOptions"
          optionLabel="label"
          optionValue="value"
        ></p-select>
        <label for="status" i18n>Status</label>
      </p-iftalabel>

      <!-- Número Documento -->
      <p-iftalabel class="w-33">
        <input
          pInputText
          id="numeroDocumento"
          formControlName="numeroDocumento"
        />
        <label for="numeroDocumento" i18n>Nº Documento</label>
      </p-iftalabel>

      <!-- Descrição -->
      <p-iftalabel class="w-33">
        <input pInputText id="descricao" formControlName="descricao" />
        <label for="descricao" i18n>Descrição</label>
        @if (isControlInvalid('descricao')) {
        <small i18n>Esse campo não pode ser em branco.</small>
        }
      </p-iftalabel>

      <!-- Pessoa -->
      <p-iftalabel class="w-33">
        <p-iconfield>
          <p-inputicon class="pi pi-search" />
          <p-autoComplete
            inputId="pessoa"
            [suggestions]="pessoaSuggestions"
            (completeMethod)="searchPessoas($event)"
            optionLabel="nome"
            (onSelect)="onPessoaSelect($event.value)"
            [(ngModel)]="pessoaInput"
            [ngModelOptions]="{ standalone: true }"
            [forceSelection]="true"
            [minLength]="1"
          >
            <ng-template let-item pTemplate="item">
              <div>{{ item.nome }}</div>
            </ng-template>
          </p-autoComplete>
        </p-iconfield>
        <label for="pessoa" i18n>Pessoa</label>
      </p-iftalabel>

      <!-- Plano de Contas -->
      <p-iftalabel class="w-33">
        <p-iconfield>
          <p-inputicon class="pi pi-search" />
          <p-autoComplete
            inputId="planoContas"
            [suggestions]="planoContasSuggestions"
            (completeMethod)="searchPlanosContas($event)"
            [optionLabel]="'displayLabel'"
            (onSelect)="onPlanoContasSelect($event.value)"
            [(ngModel)]="planoContasInput"
            [ngModelOptions]="{ standalone: true }"
            [forceSelection]="true"
            [minLength]="1"
          >
            <ng-template let-item pTemplate="item">
              <div>{{ item.codigo }} - {{ item.descricao }}</div>
            </ng-template>
          </p-autoComplete>
        </p-iconfield>
        <label for="planoContas" i18n>Plano de Contas</label>
      </p-iftalabel>

      <!-- Unidade de Negócio -->
      <p-iftalabel class="w-33">
        <p-iconfield>
          <p-inputicon class="pi pi-search" />
          <p-autoComplete
            inputId="unidadeNegocio"
            [suggestions]="unidadeNegocioSuggestions"
            (completeMethod)="searchUnidadesNegocio($event)"
            optionLabel="nome"
            (onSelect)="onUnidadeNegocioSelect($event.value)"
            [(ngModel)]="unidadeNegocioInput"
            [ngModelOptions]="{ standalone: true }"
            [forceSelection]="true"
            [minLength]="1"
          >
            <ng-template let-item pTemplate="item">
              <div>{{ item.codigo }} - {{ item.nome }}</div>
            </ng-template>
          </p-autoComplete>
        </p-iconfield>
        <label for="unidadeNegocio" i18n>Unidade de Negócio</label>
      </p-iftalabel>

      <!-- Valores -->
      <p-iftalabel class="w-33">
        <p-inputNumber
          inputId="valorOriginal"
          formControlName="valorOriginal"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
        ></p-inputNumber>
        <label for="valorOriginal" i18n>Valor Original</label>
        @if (isControlInvalid('valorOriginal')) {
        <small i18n>Esse campo não pode ser em branco.</small>
        }
      </p-iftalabel>

      <p-iftalabel class="w-33">
        <p-inputNumber
          inputId="valorDesconto"
          formControlName="valorDesconto"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
        ></p-inputNumber>
        <label for="valorDesconto" i18n>Desconto</label>
      </p-iftalabel>

      <p-iftalabel class="w-33">
        <p-inputNumber
          inputId="valorJuros"
          formControlName="valorJuros"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
        ></p-inputNumber>
        <label for="valorJuros" i18n>Juros</label>
      </p-iftalabel>

      <p-iftalabel class="w-33">
        <p-inputNumber
          inputId="valorMulta"
          formControlName="valorMulta"
          mode="currency"
          currency="BRL"
          locale="pt-BR"
        ></p-inputNumber>
        <label for="valorMulta" i18n>Multa</label>
      </p-iftalabel>

      <p-iftalabel class="w-33">
        <p-datepicker
          inputId="dataEmissao"
          formControlName="dataEmissao"
          dateFormat="dd/mm/yy"
        ></p-datepicker>
        <label for="dataEmissao" i18n>Data Emissão</label>
        @if (isControlInvalid('dataEmissao')) {
        <small i18n>Esse campo não pode ser em branco.</small>
        }
      </p-iftalabel>

      <p-iftalabel class="w-33">
        <p-datepicker
          inputId="dataVencimento"
          formControlName="dataVencimento"
          dateFormat="dd/mm/yy"
        ></p-datepicker>
        <label for="dataVencimento" i18n>Data Vencimento</label>
        @if (isControlInvalid('dataVencimento')) {
        <small i18n>Esse campo não pode ser em branco.</small>
        }
      </p-iftalabel>

      <p-iftalabel class="w-33">
        <p-datepicker
          inputId="dataPagamento"
          formControlName="dataPagamento"
          dateFormat="dd/mm/yy"
        ></p-datepicker>
        <label for="dataPagamento" i18n>Data Pagamento</label>
      </p-iftalabel>

      <p-iftalabel class="w-100">
        <textarea
          pInputTextarea
          id="observacoes"
          formControlName="observacoes"
          rows="4"
        ></textarea>
        <label for="observacoes" i18n>Observações</label>
      </p-iftalabel>
    </div>
  </div>
</gi-app-base>
