<gi-app-base [title]="titulo" [actions]="acoesTela">
  <div body-content>
    @if (!hideFilters) {
    <gi-filter-component
      [filters]="filtros"
      (doFilter)="filtrar($event)"
      (doCancel)="cancelar()"
    ></gi-filter-component>
    }
    <gi-table-component
      [columnDefinition]="colunas"
      [dataSource]="movimentacoes"
      [actions]="acoesTabela"
      (sortingEvent)="ordenar($event)"
    ></gi-table-component>
    <gi-paginator-component
      [totalRegisters]="totalElements"
      [itemsPerPage]="itensPorPagina"
      (paginationEvent)="paginar($event)"
    ></gi-paginator-component>
  </div>
</gi-app-base>
