<div class="principal">
  <p-toolbar class="toolbar-principal">
    <ng-template #start>
      <p-button (click)="goToHome()" class="logo-button">
        <img src="/assets/img/logo.webp" width="60px" alt="logo"/>
      </p-button>
    </ng-template>
    <ng-template #end>
      <p-button severity="secondary" (click)="toogleDrawer()" (keyup.enter)="toogleDrawer()">
        <span
          class="material-icons"
          style="font-size: 2rem"
          tabindex="0"
          >person</span
        >
      </p-button>
    </ng-template>
  </p-toolbar>
  <div class="principal-conteudo">
    <div class="side-menu">
      <div class="itens">
        <gi-menu-principal-item
          *ngFor="let item of menu"
          [grupo]="item"
          [somenteIcone]="true"
        ></gi-menu-principal-item>
      </div>
    </div>
    <div class="conteudo">
      <gi-messages></gi-messages>
      <router-outlet></router-outlet>
    </div>
    <div class="mini-drawer" [@openClose]="showDrawer ? 'open' : 'closed'">
      <ng-container *ngIf="showDrawer">
        <!--div class="titulo">
          <div class="foto">
            <img src="assets/img/useravatar.webp" alt="avatar"/>
          </div>
          <div class="dados">
            <div class="info">{{ getUsername() }}</div>
            <div class="info">{{ getName() }}</div>
          </div>
          <div class="close">
            <p-button
              icon="pi pi-times"
              severity="info"
              (click)="toogleDrawer()"
            />
            <div class="logout-button">
              <p-button
                icon="pi pi-sign-out"
                severity="info"
                (click)="logout()"
              />
            </div>
          </div>
        </div-->
        <div class="mini-drawer-content">
          <div class="icon">
            <i><span class="material-icons">person_pin</span></i>
          </div>
          <div class="dados">
              <div class="info">{{ getUsername() }}</div>
              <div class="info">{{ getName() }}</div>
            </div>
          <div class="logout-button">
            <p-button
            icon="pi pi-sign-out"
            severity="info"
            (click)="logout()"
            />
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
