<p-card>
  <div>
    <div class="audit-info-header">
      <span i18n>Informações de Auditoria</span>
      <p-button
        (click)="onClose()"
        [aria-label]="getCloseLabel()"
        class="p-button-inverted"
      >
        <span class="material-symbols-outlined">close_small</span>
      </p-button>
    </div>

    <div class="audit-info-content">
      <div class="audit-column">
        <div class="audit-field">
          <label for="createdBy" i18n>Criado por:</label>
          <span id="createdBy">{{ auditData?.createdBy || "-" }}</span>
        </div>
        <div class="audit-field">
          <label for="createdAt" i18n>Data de criação:</label>
          <span id="createdAt">{{ formatDate(auditData?.createdAt) }}</span>
        </div>
      </div>

      <div class="audit-column">
        <div class="audit-field">
          <label for="updatedBy" i18n>Atualizado por:</label>
          <span id="updatedBy">{{ auditData?.updatedBy || "-" }}</span>
        </div>
        <div class="audit-field">
          <label for="updatedAt" i18n>Data de atualização:</label>
          <span id="updatedAt">{{ formatDate(auditData?.updatedAt) }}</span>
        </div>
      </div>

      <div class="audit-column">
        <div class="audit-field">
          <label for="deletedBy" i18n>Excluído por:</label>
          <span id="deletedBy">{{ auditData?.deletedBy || "-" }}</span>
        </div>
        <div class="audit-field">
          <label for="deletedAt" i18n>Data de exclusão:</label>
          <span id="deletedAt">{{ formatDate(auditData?.deletedAt) }}</span>
        </div>
      </div>
    </div>
  </div>
</p-card>
